<mat-card *ngIf="repo">
    <mat-card-header>
        <img mat-card-avatar src="{{ repo.owner.avatar_url }}" />
        <mat-card-title>{{ repo.name }}</mat-card-title>
        <mat-card-subtitle>By {{ repo.owner.login }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <app-repo-details-item label="Url">
                <a href="{{ repo.url }}" target="_blank" rel="noreferrer">{{ repo.url }}</a>
            </app-repo-details-item>
            <app-repo-details-item label="Stargazers">
                {{ repo.stargazers_count }}
            </app-repo-details-item>
            <app-repo-details-item label="Forks">
                {{ repo.forks_count }}
            </app-repo-details-item>
            <app-repo-details-item label="Open Issues">
                {{ repo.open_issues_count }}
            </app-repo-details-item>
        </mat-list>
        <p *ngIf="repo.description">
            {{ repo.description }}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="selectForComparing()">Compare</button>
    </mat-card-actions>
</mat-card>
