<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3>
        Provide authentication information for a Github account. It will be included in the API calls as per the Basic
        Access Authentication protocol. I will not be stored or sent anywhere else.
    </h3>
    <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Username" formControlName="username" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password" />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Authenticate</button>
</form>
