<form class="autocomplete-form" [formGroup]="autocompleteForm">
    <label class="search-label" for="keyword">Search:</label>
    <mat-form-field appearance="outline">
        <mat-label>Keyword</mat-label>
        <input
            matInput
            name="keyword"
            type="text"
            class="keyword-input"
            placeholder="Repo name, Owner, Tag, etc."
            formControlName="keyword"
            [matAutocomplete]="auto"
        />
        <mat-spinner *ngIf="isLoading" class="loading-indicator" diameter="40"></mat-spinner>
    </mat-form-field>

    <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="formatOutput"
        (optionSelected)="setSetlected($event.option.value)"
    >
        <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let repo of repoList" [value]="repo">
                {{ repo.name }}
            </mat-option>
        </ng-container>
    </mat-autocomplete>
</form>
