.search-label {
    font-weight: 500;
    font-size: 24px;
    margin-right: 10px;
}

.mat-form-field {
    width: 400px;
    .keyword-input {
        padding-right: 40px;
        width: calc(100% - 40px);
    }

    .loading-indicator {
        position: absolute;
        right: 0;
        top: 0;
    }
}
