<aside class="authentication">
    <button
        mat-button
        matTooltip="The Github API only allows for a very limited number of request while unauthenticated."
        *ngIf="!isAuthenticated"
        color="warn"
        (click)="openLoginForm()"
    >
        <span class="material-icons">
            warning
        </span>
        You're not authenticated!
    </button>

    <div *ngIf="isAuthenticated" class="authentication-success-message">
        <span class="material-icons">
            thumb_up
        </span>
        <span class="authentication-success-message-text">
            You're now authenticated, carry on.
        </span>
    </div>
</aside>
